/* COLOR */

$primary-color: #db4a4d;
$secondary-color: #262626;
$background: #1c1c1c;
$light-color: #f4f4f4;

/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$primary-font: 'Poppins', sans-serif;