{% extends 'base.html' %}

{% block body %}

    <section m-b3>
        <div class="container text-center m-t2">
            <h1 class="title">Freedom Wall</h1>
            <p class="sub-title">By: Chad</p>
            <a target="_blank" href="https://github.com/chadsantiago/FreedomWall"><p class="sub-title"><i class="fab fa-github"></i></p></a>
        </div>
    
        <div class="secondary-container">
            <div class="caption">
            <h6 class="sub-title">Today</h6>
            <p class="sub-title" id="down"><i class="fas fa-level-down-alt"></i></p>
            </div>
        </div>

        <div class="container">
        {% for story in posts %}
            <div class="items m-b1">
                <h4 class="context">{{ story.content }}</h4>
                <div class="caption">
                <p class="date">{{ story.date_posted }}</p>
                <a class="submit" href="/delete/{{ story.id }}"><p class="context"><i class="far fa-trash-alt"></i></p></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    <section class="dummy m-b3" id="dummy"></section>

    <footer>

        <form class="container" action="/" method="POST" id="form-id">
            <div class="box">
            {{ form.content(class='notepad', id="notepad", maxlength="280", style="resize: none; overflow:auto;", placeholder="What's up?", type="text", title="content", required="required") }}
            <input class="submit icon fa fa-input" id="submit" type="submit" value="&#xf1d8;"/>
        </div>
        </form>

    </footer>




{% endblock %}